= render "users/registrations/registration_header"
:javascript
  $(document).ready(function () {
    $("#registration_second").css("color","#ea352d");
    $("#registration_bar_second").css("background-color","#ea352d");
  });
.single-container__main
  .single-container__main__content
    .single-container__main__content__head
      電話番号の確認
    .single-container__main__content__phone-registration
      = form_for(@user, url: wizard_path) do |f|
        .registration-content
          .registration-content__form-group
            .registration-content__form-group__label
              = f.label :携帯電話の番号
            .registration-content__form-group__input
              = f.text_field :phone_number, id: :phone_number,placeholder: "携帯電話の番号を入力"
          %p.registration-content__text
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          .registration-content__button
            = f.submit "次へ進む", data: { disable_with: "次へ進む" }
          .registration-content__bottom-text
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .registration-content__reason-link
            = link_to "" do
              電話番号の確認が必要な理由
              %i.fas.fa-chevron-right
= render "./items/purchase_footer"
