%section.items-box-container.clearfix
  %h3.text-center
    = link_to "レディース 新着アイテム", root_path
  .items-box-content.clearfix
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
  .view-all
    =link_to "すべての商品を見る", root_path

%section.items-box-container.clearfix
  %h3.text-center
    = link_to "メンズ 新着アイテム", root_path
  .items-box-content.clearfix
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
  .view-all
    =link_to "すべての商品を見る", root_path  

%section.items-box-container.clearfix
  %h3.text-center
    = link_to "ベビー・キッズ 新着アイテム", root_path
  .items-box-content.clearfix
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
  .view-all
    =link_to "すべての商品を見る", root_path

%section.items-box-container.clearfix
  %h3.text-center
    = link_to "コスメ・香水 美容 新着アイテム", root_path
  .items-box-content.clearfix
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
    = render partial: "top-ForOnePerson"
  .view-all
    =link_to "すべての商品を見る", root_path  