.single-container
  = render 'purchase_header'

  %main.single-main
    %section.l-single-container.buy-item-container
      %h2.l-single-head 購入を確定しますか？
      %section.buy-content.buy-item
        .buy-content__inner
          %h3.buy-content__image
            - @item.images.each do |image|
              = image_tag image.image, class: "owl-lazy lazyload"
          %p.buy-item__name.bold
            = @item.name
          %form.buy-content__form{action: "/", method: "POST"}
            .buy-price-ja
              = number_to_currency(@item.price, unit: "￥", precision: 0)
              %span.item-shipping-fee.f14.bold 送料込み
            %ul.buy-accordion.not-have.bold
              .accordion-toggle
                ポイントはありません
            %ul.buy-price-table
              %li.buy-price-row.buy-you-pay.bold
                .buy-price-cell_a
                  支払い金額
                .buy-price-cell_b
                  %span
                    = number_to_currency(@item.price, unit: "￥", precision: 0)
            %button.btn-default.btn-red.bold{type: "submit"} 購入する

          %form{action: :pay, method: :post}
            %script.payjp-button{"data-key" => "pk_test_401685c112dda1c841438876", :src => "https://checkout.pay.jp/", :type => "text/javascript"}

      %section.buy-content.buy-user-info
        .buy-content__inner
          %h3 配送先
          %address.buy-user-info__text
            〒111-1234
            %br/
            東京都 港区西麻布
            １－１ー１
            六本木ヒルズ 3033号室
            %br/
            西川 明宏
          %p.buy-user-info__text
          = link_to "", class: "buy-user-info__fix" do
            %span 変更する
            %i.fa.fa-angle-right
      %section.buy-content.buy-user-info
        .buy-content__inner
          %h3 支払い方法
          %p.buy-user-info__text
            ************1234
            %br/
            08 / 22
            %figure
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?4136293187", size: "34x20", alt: "master-card"
          = link_to "", class: "buy-user-info__fix" do
            %span 変更する
            %i.fa.fa-angle-right

  = render 'purchase_footer'

