= render 'header'

.search-container
  .search-container__l-content
    .search-container__l-content__items
      %header.search-container__l-content__items__head
        = "検索結果 #{@items.length}件"
      .search-container__l-content__items__result
        = render 'search_result'
  .search-container__l-side



= render 'app-banner'
= render 'footer'
