= render "registration_header"
%main.single-container__sign-up-main
  %section.single-container__sign-up-main__container
    %h2.single-container__sign-up-main__container__head
      会員情報入力
    .single-container__sign-up-main__container__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .single-container__sign-up-main__container__form__content
        .single-container__sign-up-main__container__form__content__group

          .single-container__sign-up-main__container__form__content__group__lavel
          = f.label :名前
          %span.single-container__sign-up-main__container__form__content__group__require 必須
          = f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "例）メルカリ太郎"

        .single-container__sign-up-main__container__form__content__group
          .single-container__sign-up-main__container__form__content__group__lavel
          = f.label :メールアドレス
          %span.single-container__sign-up-main__container__form__content__group__require 必須
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
        .single-container__sign-up-main__container__form__content__group
          .single-container__sign-up-main__container__form__content__group__lavel
          = f.label :パスワード
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %span.single-container__sign-up-main__container__form__content__group__require 必須
          = f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上"
        .single-container__sign-up-main__container__form__content__group
          .single-container__sign-up-main__container__form__content__group__lavel
          = f.label :パスワード確認
          %span.single-container__sign-up-main__container__form__content__group__require 必須
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上"
        .single-container__sign-up-main__container__form__content__group
          .g-recaptcha.login-captcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
            %iframe{src: "https://www.google.com/recaptcha/api2/anchor?ar=2&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1545073489967&size=normal&cb=n5hzazh4yje1", width: "304px", height: "78px", role: "presentation",name: "a-h3xm357f4j0s",frameborder: "0",scrolling: "no",sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"}
        = f.submit "次へ進む", class: "btn-default btn-red"
=render "./items/purchase_footer"
